*.pyc
*.t7
*.pth
*.pdf

# macOS
*.DS_Store

# Pycharm
/.idea/

# Data
datasets/*/plots/*.png
datasets/*/plots/*.h5
datasets/*/data/
datasets/*/trained_nets/

# macOS specific Environment
mac_env.yml
mac_env_explicit.txt

# PyPi
/build/lib/datasets/
/dist/
/loss_landscape.egg-info/

