certifi==2020.4.5.1
cycler==0.10.0
h5py==2.10.0
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mpi4py==3.0.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605082776/work
olefile==0.46
pandas==1.0.3
patsy==0.5.1
Pillow==7.1.2
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
statsmodels==0.11.1
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
tornado==6.0.4
